@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model BlogProject.Models.VM.BlogVM

<div class="form-horizontal">
    <h4>Edit New Blog</h4>
    <hr />

    <form action="/AdminBlog/Edit/@Model.ID" method="post">
        @Html.HiddenFor(q => q.ID)
        <div class="form-group">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Title</label>
                @Html.TextBoxFor(q => q.Title, new { @class = "form-control", @id = "formGroupExampleInput" })

            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Subtitle</label>
                @Html.TextBoxFor(q => q.Subtitle, new { @class = "form-control", @id = "formGroupExampleInput" })

            </div>
            <div class="mb-3">
                <label label for="formGroupExampleInput" class="form-label">Content:</label>
                <textarea name="Content" id="content" class="form-control ckeditor">
                    @Html.TextBoxFor(q => q.Content, new { @class = "form-control", @id = "formGroupExampleInput" })
                </textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="categories">Category Name</label>
                @Html.DropDownListFor(model => model.CategoryID, Model.Categories.Select(x => new SelectListItem { Text = x.Name, Value = x.ID.ToString() }))

            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>