@model BlogProject.Models.VM.BlogDetailVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header-->

<style>
    #imageCustomBlog {
        background-image: url('/blogimage/@Model.MainImagePath');
    }
</style>

<header class="masthead" id="imageCustomBlog">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">@Model.Subtitle</h2>
                    <span class="meta">
                        Added Date:
                        @Model.AddDate
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
            Category: @Model.CategoryName
        </div>
    </div>
</article>